/*Global*/
*{
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
}

section{
    position: fixed;
    height: 100vh;
    top: 0;
}

/*App bar*/

.headbar{
    margin: 0;
    background-color:#eee;
    padding: 0 22px 0 22px;
    line-height: 66px;
    height: 66px;
    color: #00838f;
}

h1 {
    font-size: 18px;
}


img{
    float: left;
    background-color: #00838f;
    height: 44px;
    margin-right: 5px;
}


#chat .headbar h1{
    display: inline-block;
    line-height: 1px;
}

#channelsView{
    top: 65px;
    width: 399px;
    height: 100vh;
    border-right: 1px solid grey;
}

#chat{
    left: 400px;
    width: calc(100% - 400px);
    top:0;
}


/*Channels list*/
#channelsView h2{
    color: #00838f;
    font-size: 12px;
    text-transform: uppercase;
    margin: 22px 22px 11px 11px;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

ul{
    list-style-type: none;
    margin-bottom: 20px;
    background-color: white;
}

li{
    box-sizing: border-box;
    padding: 22px;
    height: 66px;
  
}
.timestamp {
    font-size: smaller;
    color: gray;
}

.active{
    background-color: #eee;
    border-right: solid 2px #00838f;
}

/*Messages*/


.message h2{
    color: #00838f;
    font-size: 14px;
    font-weight:bold;
    margin-bottom: 10px;
}


.message{
    width: 75%;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

button {
    background-color: #00838f;
    text-transform: uppercase;
    color: white;
    font-size: larger;

}

.outgoing
{
    background-color: #00838f;
    color:white;
    text-align: right;
}

.incoming
{
    background-color: #eee;
}